# dependencies
Api/node_modules
Api/src/config.js

KeyAmazonWeb


#Ficheros de app Vue

App/.DS_Store
App/node_modules
App/dist

# local env files
App/.env.local
App/.env.*.local

# Log files
App/npm-debug.log*
App/yarn-debug.log*
App/yarn-error.log*

# Editor directories and files
App/.idea
App/.vscode
App/*.suo
App/*.ntvs*
App/*.njsproj
App/*.sln
App/*.sw?


